.main-wrapper {
    height: auto;
    width: auto;
}

.header {
    width: 100%;
    background-color: rgb(183, 173, 173);
    border: 1px solid;
}



.Navbar {
    list-style: none;
    margin-left: 7%;
}

.Navbar li {
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.head-introduce {
    min-height: 500px;
    width: 100%;
    margin-top: 20px;

}

.introduce {
    height: 500px;
    width: 40%;
    float: left;
    margin-left: 10%;
}

.introduce h1 {
    font-size: 50px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(183, 173, 173);

}


.head-img {
    border: 1px salmon;
    height: 500px;
    width: 40%;
    float: left;
}

.search {
    border-bottom: 1px solid;

}

.search input {
    border: none;
    outline: none;
    background-color: rgb(183, 173, 173);
}

.search button {
    border: none;
    background-color: rgb(183, 173, 173);
    border-radius: 50px;
    cursor: pointer;
}



.items {
    width: 80%;
    height: auto;
    min-height: 500px;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 300px;
}

.items .row {
    width: 100%;
    height: auto;
    display: block;
}

.items .col {
    width: 20%;
    height: auto;
    gap: 10%;
    text-align: center;
    float: left;
}

.item-img {
    width: 100%;
    height: 300px;
}

.items i {
    font-size: 30px;
    padding: 20px 20px 20px 20px;
}

.items .title {
    font-size: 50px;
}

.items .right {
    float: right;
}

.items .next {
    border: 1px solid;
}







.footer {
    width: 100%;
    background-color: rgb(183, 173, 173);
    height: 500px;

}

.footer-start {
    width: 80%;
    height: 90%;
    margin-left: 10%;
}

.footer .col {
    width: 24%;
    float: left;
}

.footer-end {
    border-top: 1px solid;
    width: 100%;
    height: auto;
    text-align: center;
}